<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <title>{% block title %}Code Pub{% endblock %} - SVN tools</title>
    {% endblock %}
</head>

<body>
<div class="container">
    <div id="navigator">
        {% block navigator %}
            <div class="page-header">
                <h3>Genscript 供应链代码发布系统
                    <small>v1.0.1 <p class="text-right" style="font-size:9pt">你好，{{ current_user.username }} <a
                            href="#">登出</a></p></small>
                </h3>
            </div>

            <ul class="nav nav-tabs" role="tablist" id="menu">
                <li class=""><a href="{{ url_for("dashboard.index") }}">首页</a></li>
                <li ><a href="{{ url_for("dashboard.show", system= "usorder") }}">US Order</a></li>
                <li class=""><a href="{{ url_for("dashboard.show", system= "cnorder") }}">CN Order</a></li>
                <li class=""><a href="{{ url_for("dashboard.show", system= "jporder") }}">JP Order</a></li>
                <li class=""><a href="{{ url_for("dashboard.show", system= "usshipping") }}">US/JP Shipping</a></li>
                <li class=""><a href="{{ url_for("dashboard.show", system="cnshipping") }}">CN Shipping</a></li>
                <li class=""><a href="{{ url_for("dashboard.show", system="manufacturing") }}">Manufacturing</a></li>
                <li class=""><a href="{{ url_for("dashboard.show", system="material") }}">Material</a></li>
            </ul>
            </div>
        {% endblock %}

    <div class="row">
        <div id="sitemenu">
            {% block sitemenu %}
            {% endblock %}
        </div>
        <div id="content">{% block content %}{% endblock %}</div>

        <div id="footer">
            {% block footer %}
                <div class="col-md-12">
                    <h6 class="text-center">Created On 20161101
                        <small> @author: follow <a id=time></a></small>
                    </h6>
                </div>
                <!-- Bootstrap core JavaScript
                ================================================== -->
                <!-- Placed at the end of the document so the pages load faster -->
                <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/main.js') }}"></script>
                <script src="{{ url_for('static', filename='js/my_code_pub.js') }}"></script>
            {% endblock %}
        </div>
    </div>
</div>
</div>
</body>

