{% extends "system.html" %}
{% block title %} 系统管理 {% endblock %}
{% block content %}
    <script xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        function get_confirm(b) {
            var cmd = $$('#cmd').text();
            var $$btn = $$('#submit').button('loading');
            if (cmd == "启动") {
                exec = "startProcessGroup"
            } else {
                exec = "stopProcessGroup"
            }
            $$.get("/workinfo?name=$w_info[0].get('group')&p=gearman_worker&query=" + exec + "&server=$m_server",
                    function (data, status) {
                        if (status == "success") {
                            $$btn.button('reset')
                            $$('#myconfirm').modal('hide');
                            location.reload();
                            //     		alert("1:" + cmd);
                        } else {
                            alert("2:" + status);
                        }
                    }
            );
        }

        function stop_start(cmd) {
            if (cmd == "start") {
                var info = "启动";
            } else {
                var info = "停止";
            }
            $$('#cmd').text(info);
        }
    </script>

    <h3 id="node_info" value={{ system }}-{{ ver }} class="text-muted">{{ system }}-{{ ver }} 进程信息：</h3>
    <hr/>
    <div class="col-md-10">
        {% for k,v in status.items() %}
            <div class="col-md-5">
                <h4 id="node" value="testinfo" class="text-muted">
                    {% if v["is_quartz"] %}
                        <a class="text-danger">[定时任务]</a>
                    {% endif %}
                    {{ system }} {{ k }}：</h4>
                <table class="table table-striped table-hove table-condensed" role="table" style="font-size:8pt">
                    <tr>
                        <th width="35%">项目</th>
                        <th>状态</th>
                    </tr>
                    <tr>
                        <td>Java进程 PID</td>
                        {% if v['pid'] %}
                            <td><img src="/static/img/blue_anime.gif" tooltip="运行中"
                                     style="width: 18px; height: 18px;"><img>{{ v['pid'] }} Is running
                            </td>
                        {% else %}
                            <td><img src="/static/img/red.png" tooltip="没有运行"
                                     style="width: 18px; height: 18px; "><img> Is not
                                running
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Tomcat 启动时间</td>
                        <td>{{ v.get('uptime', None) }}</td>
                    </tr>
                    <tr>
                        <td>客户端版本号</td>
                        <td>{{ v.get('ver', None) }}</td>
                    </tr>
                    <tr>
                        <td>内存分配</td>
                        <td>{{ v.get('mem_info', None) }}</td>
                    </tr>
                    <tr>
                        <td>服务器负载</td>
                        <td>{{ v.get("load_info", None) }}</td>
                    </tr>
                    <tr>
                        <td>运行中war包 时间戳</td>
                        <td>{{ v.get('qa_mtime') }} </td>
                    </tr>
                    <tr>
                        <td>待更新war包 时间戳</td>
                        <td>{{ v.get('newest_mtime') }}</td>
                    </tr>
                    <tr>
                        <td>待更新版本</td>
                        <td>{{ v.get('newest_filename', None) }}</td>
                    </tr>
                    <tr>
                        <td><strong class="text-info">war包下载状态</strong></td>
                        <td>
                            {% if v.get("aria_status", None)[0] == 0 %}
                                <img src="/static/img/blue_anime.gif" tooltip="运行中"
                                     style="width: 18px; height: 18px;"><img>正在下载
                                <script language="JavaScript">
                                    function myrefresh() {
                                        window.location.reload();
                                    }
                                    setTimeout('myrefresh()', 5000);
                                </script>
                            {% else %}
                                <img src="/static/img/blue.png" tooltip="运行中"
                                     style="width: 18px; height: 18px; "><img>下载完成
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong class="text-info">更新状态</strong></td>
                        <td>
                            {% if v.get('qa_mtime') == v.get('newest_mtime') %}
                                <span
                                        class="glyphicon glyphicon-ok "></span>
                            {% else %}
                                <span
                                        class="glyphicon glyphicon-remove "></span>
                            {% endif %}

                        </td>
                    </tr>
                    <tr>
                        <td>执行命令</td>
                        <td>
                            <div>
                                <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myconfirm"
                                        server="{{ k }}" cmd="stop">关闭
                                </button>
                                {% if v.get("aria_status", None)[0] == 0 %}
                                    <button class="btn btn-danger btn-xs disabled"
                                            server="{{ k }}">等待下载
                                    </button>
                                {% else %}
                                    <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myconfirm"
                                            server="{{ k }}" cmd="update">更新
                                    </button>
                                {% endif %}
                                <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myconfirm"
                                        server="{{ k }}" cmd="start">启动
                                </button>
                            </div>
                            <div style="margin-top: 4px">
                                <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#switch_release"
                                        data-server={{ k }}>选择版本
                                </button>
                            </div>

                        </td>
                    </tr>
                </table>
                <div class="hidden" id="release_{{ k }}" style="width: 80%">
                    <table class="table table-striped table-hove table-condensed" role="table" style="font-size:8pt"
                           width="100">
                        <tr>
                            <th>文件名</th>
                            <th>打包时间</th>
                            <th>文件大小</th>
                            <th>选择</th>
                        </tr>
                        {% if  v.get("release", False) %}
                            {% for i in v.get("release") %}
                                <tr>
                                    <td>{{ i[6] }}</td>
                                    <td>{{ i[5] }}</td>
                                    <td>{{ i[4] }}bytes</td>
                                    <td><input type="radio" name="selected_release" server="{{ k }}" value="{{ i[6] }}">
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
        {% endfor %}
        <div align='center' class="col-md-10">


            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myconfirm" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close"
                                    data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                确认操作吗？
                            </h4>
                        </div>
                            {% if ver == "prod" %}
                                <div class="modal-body">
                                <div class="row" >
                                <div class="col-lg-6 col-lg-offset-3">
                                    确认后将会对<b id="which_server" class="label-danger"></b>进行<b id="which_button"></b>操作!  请确认后再操作。
                                    </div>
                                    </div>

                                <div class="row" id="confirm_prompt">
                                <div class="col-lg-6 col-lg-offset-3 ">
                                <div class="input-group input-group-sm"  >
                                    <span class="input-group-addon input-group-sm" id="basic-addon3">要关闭的服务器IP：</span>
                                    <input type="text" class="form-control"   aria-describedby="basic-addon2" id="user_input">
                                </div></div></div>
                                </div>

                            {% else %}
                                <div class="modal-body">
                                    确认后将会对<b id="which_server" class="label-danger"></b>进行<b id="which_button"></b>操作，请确认！
                                </div>
                            {% endif %}

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary" id="submit" data-loading-text="Loading..."
                                    autocomplete="off" onclick="do_cmd()">
                                提交更改
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->

                </br></br>
            </div>

            <!-- 模态框（Modal） -->
            <div class="modal fade" id="switch_release" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close"
                                    data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                请选择需要回滚的版本
                            </h4>
                        </div>
                        <div id="switch_release_body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">取消
                            </button>
                            <button type="button" class="btn btn-primary" id="submit_switch"
                                    data-loading-text="Loading..."
                                    autocomplete="off" onclick="switch_release()">
                                选择
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->

                </br></br>
            </div>
        </div>
    </div>
{% endblock %}